/**
*------------------------------------------------------------
*	:: GLOBAL DISPLAY RULE
*------------------------------------------------------------
*/
html { background: rgba(255, 255, 255, 0.8); }
body{
    line-height: 1.2em;
    font: 14px/21px "Cabin", Helvetica, Arial, sans-serif; 
	color: #ffffff; 
	_text-align: center; 
	-webkit-font-smoothing: antialiased; /* Chrome Suffery     */
	-moz-font-smoothing: antialiased; 	 /* Firefox            */
	-ms-font-smoothing: antialiased; 	 /* Internet Explorer  */
	-o-font-smoothing: antialiased; 	 /* Opera              */
    font-smoothing: antialiased; 		 /* Official           */    
}
h3{
    font-size: 22px;
}
p{
    font-size: 16px;
}
ul{list-style:none;}
a{text-decoration:none;}
.azad-container{
    width: 80%;
    margin: 0 auto;
}