.azad-11{
    background: #ffffff;
    padding: 80px 0px;
}
.azad-11-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    .item{
        background: red;
    }
}