/**
* :: MORE AFTER HEADER
*/
body.azad section:nth-child(2){
    _padding: 100px 0px 0px;
}
/**
* :: FRONT PAGE
*/
.azad-1{
    background:#e3e3e3;
    padding:2rem 0;
    .container{
        display:flex;
        align-items:center;
        justify-content:center;
        div{
            width:33%;
            background:red;
        }
    }
}
.azad-2{
    background-image:url("../imgs/bg-town.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    .container{
        display:flex;
        align-items:center;
        justify-content:center;
        padding:5rem 0;
        div{
            width:33%;
            text-align:center;
            padding:2rem;
            color:#ffffff;
            h3{
                font-size:2rem;
                margin-bottom:2rem;
            }
            p{
                font-size:1rem;
                margin-bottom:2rem;                
            }
        }
    }
}
